<!DOCTYPE html>
<html>

<head>
    <% include /templates/head %>
</head>

<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <% include /templates/header %>
        
        <!-- =============================================== -->
        <% include /templates/siderbar %>
        
        <!-- =============================================== -->

        <!-- Content Wrapper. Contains page content -->
        
        <% function leftPad(value, totalWidth, paddingChar) { %>
        <%  var length = totalWidth - value.toString().length + 1; %>
        <%    return Array(length).join(paddingChar || '0') + value; %>
        <%  }; %>
        <% var now = new Date() %>
        <% var hoje = leftPad(now.getDate(), 2) + '/' + leftPad((now.getMonth() + 1), 2) + '/' +  leftPad(now.getFullYear(), 4) %>
        <% var hora = leftPad(now.getHours(),2) + ":" + leftPad(now.getMinutes(),2) %>
        <% var hoje = leftPad(now.getFullYear(), 4) + '-' + leftPad((now.getMonth() + 1), 2)  + '-' +   leftPad(now.getDate(), 2)   %>
        
        <% function getFormattedDate(date) { %>
            <%  var year = date.getFullYear(); %>
            <%  var month = (1 + date.getMonth()).toString(); %>
            <%  month = month.length > 1 ? month : '0' + month; %>
            <%  var day = date.getDate().toString(); %>
            <%  day = day.length > 1 ? day : '0' + day; %>
            <%  return year + '-' + month + '-' + day; %>
        <% } %>
        <div class="content-wrapper">
            <!-- escrever conteúdo do sistema -->
            <!-- escrever conteúdo do sistema -->
            <section class="content-header">
                <h1>
                    Salão
                    <small>Mesas de Atendimento</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">
                            <i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="active">Pdv</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <% for(var i = 0; i < validacao.length; i++) {%>
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <a href="#" class="alert-link">Erro:</a>.<%= validacao[i].msg %>
                    </div>
                <% } %>
                <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-yellow">
                        <div class="widget-user-image">
                            <img class="img-circle" src="../images/logo_pdv.png" alt="User Avatar">
                        </div>
                        <!-- /.widget-user-image -->
                        <h3 class="widget-user-username">wsPDV - Versão 2.1</h3>
                        <h5 class="widget-user-desc">Wavii Consultoria e Sistemas Ltda</h5>
                    </div>
                    <div class="box-footer no-padding">
                        <div class="col-md-9">
                            <!-- Box Comment -->
                            <a class="btn btn-link" href="/salao" style="color:rgb(0, 0, 0);" accesskey="A"><i class="fa fa-exchange"></i> <u>A</u>tualizar</a>                                     
                
                            <a class="btn btn-link" href="/comanda" style="color:rgb(0, 0, 0);" accesskey="C"><i class="fa fa-exchange"></i> <u>T</u>ransferência</a>                                     
                
                            <a class="btn btn-link" href="/pdv" style="color:rgb(0, 0, 0);" accesskey="V"><i class="fa fa-mail-reply"></i> <u>V</u>oltar</a>                                     
                
                            <div class="box box-widget">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <img class="img-circle" src="../images/iconmesa.png" alt="User Image">
                                        <span class="username"><a href="#">Salão de Atendimento.</a></span>
                                        <span class="description"><%= pdvs.length > 0 ? getFormattedDate(pdvs[0].data ) : '00/00/0000' %> às <%= pdvs.length > 0 ? pdvs[0].hora : '00:00' %></span>
                                    </div>
                                        <!-- /.user-block -->
                                    <div class="box-tools">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                    <!-- /.box-tools -->
                                </div>
                                
                     
                                <!-- /.box-header -->
                                <% var livres = 0; usadas= 0; %>
                                <div class="box-body">
                                    <% for( var i = 0; i < salao.length; i++ ) { %>
                                        <% if( salao[i].data ) { %>
                                            <a class="btn btn-app" href="/itens/<%= salao[i].idVenda %>" style="background-color: orange;color:black;">
                                            <% usadas += 1; %>
                                        <% } else { %> 
                                            <a class="btn btn-app"  style="background-color: green;color:white;" data-toggle="modal" data-target="#modal-abre-<%= salao[i].id %>">
                                            <% livres += 1; %> 
                                        <% } %>      
                                                                                  
                                            <b><%= salao[i].nome %></b></br>R$ <%= salao[i].total > 0 ? salao[i].total.toFixed(2) : '0.00'  %>
                                        </a>
                                        <div class="modal fade" id="modal-abre-<%= salao[i].id %>">
                                            <div class="modal-dialog">
                                                <form role="form" action="/aberturaMesa" method="post">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            <h4 class="modal-title">Iniciar Atendimento <%= salao[i].nome %></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="form-group col-lg-4" >
                                                                        <label>Pdv:</label>
                                                                        <input type="text" class="form-control" name="pdv" value="<%= pdvs.length > 0 ? pdvs[0].id : null %>" required="true" readonly="true">
                                                                    </div>
                                                                    
                                                                    <div class="form-group col-lg-4">
                                                                        <label>Data:</label>                                                                        
                                                                        <input type="date" class="form-control" name="data" required="true" value="<%= getFormattedDate(now)  %>" readonly="true">
                                                                    </div>

                                                                    <div class="form-group col-lg-4">
                                                                        <label>Hora:</label>
                                                                        <input type="time" class="form-control" name="hora" value="<%= hora %>" required="true" readonly="true">
                                                                    </div>
                                                                    
                                                                   

                                                                    <div class="form-group col-lg-6" >
                                                                        <label>Mesa:</label>
                                                                        <select class="form-control" required="true" name="mesa">
                                                                          
                                                                            <% if( mesas.length > 0 ) {%>
                                                                                <% for(var e=0; e < mesas.length; e++) {%>
                                                                                    <% if( mesas[e].id == salao[i].id ) { %>
                                                                                        <option value="<%= mesas[e].id %>"><%= mesas[e].nome %></option>
                                                                                    <% } %>
                                                                                <% } %>
                                                                            <% } %>
                                                                        </select>
                                                                    </div>

                                                                    <div class="form-group col-lg-6" >
                                                                        <label>Atendente:</label>
                                                                        <select class="form-control select2" required="true" name="Atendente">                                                                          
                                                                            <option value="">Selecione</option>
                                                                            <% for(var e=0; e < atendentes.length; e++) {%>
                                                                                <option value="<%= atendentes[e].id %>"><%= atendentes[e].nome %></option>
                                                                            <% } %>
                                                                       </select>
                                                                    </div>


                                                                    <div class="form-group col-lg-12" >
                                                                        <label>Cliente:</label>
                                                                        <select class="form-control select2" required="true" name="cliente">                                                                          
                                                                            <option value="">Selecione</option>
                                                                            <% for(var e=0; e < clientes.length; e++) {%>
                                                                                <option value="<%= clientes[e].id %>"><%= clientes[e].nome %></option>
                                                                            <% } %>
                                                                       </select>
                                                                    </div>

                                                                    
                                                                </div>
                                                            </div>      
                                                            
                                                        </div>
                                                        
                                                        <div class="modal-footer">
                                                            <button type="reset" class="btn btn-default pull-left" onclick="window.location.href='/salao'">Cancelar</button>
                                                            <button type="submit" class="btn btn-primary">Salvar</button>
                                                        </div>
                                                        
                                                    </div>
                                                </form>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                            
                                    <% } %>                          
                                </div>
                            </div>
                        </div>

                         <div class="col-md-3">
                            <!-- Box Comment -->
                            <div class="box box-widget">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <img class="img-circle" src="../images/opcaixa.png" alt="User Image">
                                        <span class="username"><a href="#"><%= funcionarios[0].nome %></a></span>
                                        <span class="description"><%= salao.length > 0 ? salao[0].empresa : "" %></span>
                                    </div>
                                        <!-- /.user-block -->
                                    <div class="box-tools">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                    <!-- /.box-tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <ul class="nav nav-stacked">
                                        <li><a href="#">Mesa Livre <span class="pull-right badge bg-green"><%= livres %></span></a></li>
                                        <li><a href="#">Mesa Ocupada <span class="pull-right badge bg-yellow"><%= usadas %></span></a></li>
                                    </ul>                  
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </section>            
        </div>
        
        <!-- /.content-wrapper -->
        <% include /templates/footer %>        
        
        <% include /templates/config %>        

        <div class="control-sidebar-bg"></div>
        <div class="ajax-content">
        </div>
    </div>
</body>
<% include /templates/scripts %>
</html>